<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm">
    <%= form.text_field :name, placeholder: '名前', class: 'form-control' %>
    <br />
    <%= form.text_field :email, placeholder: 'メールアドレス' %>
    <br />
    <%= form.password_field :password, placeholder: 'パスワード' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
